@font-face {
  font-family: "Livvic-Thin";
  src: url(fonts/livvic/Livvic-Thin.ttf);
  font-display: swap; /* Muestra una fuente de reserva mientras se carga */
}

@font-face {
  font-family: "Barlow-Light";
  src: url(fonts/barlow/Barlow-Light.ttf);
  font-display: swap; /* Muestra una fuente de reserva mientras se carga */
}

@font-face {
  font-family: "Barlow-Thin";
  src: url(fonts/barlow/Barlow-Thin.ttf);
  font-display: swap; /* Muestra una fuente de reserva mientras se carga */
}


/************************************************************************/
/******************************* General ********************************/
/************************************************************************/

html {
  scroll-behavior: smooth; /* Habilita el desplazamiento suave */
}

body {
  margin: 0; /* Elimina márgenes */
  padding: 0; /* Elimina rellenos */
  background-image: url('../img/fondo2.jpg'); /* Ruta de la imagen */
  background-size: cover; /* La imagen cubrirá todo el fondo */
  background-repeat: no-repeat; /* No repetirá la imagen */
  background-attachment: fixed; /* Hace que la imagen sea fija */
  background-position: center; /* Centra la imagen */
  color: white;
  font-family: "Livvic-Thin";
}

section:not(#start):not(#cv_section) {
  padding: 50px;
  padding-bottom: 10px;
  background-color: #34335b;
}

h1 {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10vh;
  display: flex;
  scroll-margin-top: 35px;
  font-family: "Barlow-Thin";
}

#text {
  margin: 10vh 20% 0;
  width: 60%;
  font-size: clamp(0px calc(1vmin + 1vw) 40px);
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  text-align: justify;
  height: 5%;
}

/* Pantallas grandes (1200px o más) */
@media (max-width: 1200px) {
  #text {
    margin: 10vh 12% 0;
    width: 76%; /* Altura para pantallas grandes */
  }
}

/************************************************************************/
/************************************************************************/
/************************************************************************/


/************************************************************************/
/**************************** Navigation Bar ****************************/
/************************************************************************/

.navbar {
  position: fixed; /* Fija la barra en la parte superior */
  display: flex;
  justify-content: space-between;
  top: -40px;
  left: 0;
  width: 100%; /* Ocupa todo el ancho de la página */
  background-color: white; /* Cambia el color al hacer scroll */
  height: 40px; /* Reduce la altura */
  z-index: 1000; /* Asegura que quede encima del resto del contenido */
  transition: transform 0.7s ease-in-out; /* Transición suave */
}

.navbar #secdiv {
  list-style: none; /* Quita los puntos de la lista */
  margin: 0;
  padding: 0;
  display: flex; /* Muestra los elementos en fila */
  justify-content: right;
}

.navbar #left {
  list-style: none; /* Quita los puntos de la lista */
  margin: 0;
  padding: 0;
  display: flex; /* Muestra los elementos en fila */
  justify-content: left;
}


.navbar ul {
  display: flex; /* Convierte el contenedor en flexbox */
  align-items: center; /* Alinea verticalmente los elementos */
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar img{
  height: clamp(10px, 4.2vw, 40px);
  width: auto;
  object-fit: contain;
  display: block;
  margin-top: clamp(0.25px, 0.5vw, 0.5px);
  margin-bottom: clamp(0.25px, 0.5vw, 0.5px);
}

.navbar a {
  text-decoration: none; /* Quita el subrayado */
  color: black;
  font-size: clamp(10px, 1.5vw, 15px);
  font-family: "Barlow-Light";
  /* padding: 1vw 0.7vw; */
  margin: 0.4vw 0.9vw;
  display: block;
  transition: background-color 0.3s ease; /* Animación al pasar el ratón */
  align-items: center;
}

.navbar a:hover {
  color: #999999;
}

.navbar.hidden {
  transform: translateY(-40px); /* Mueve hacia arriba para ocultarlo */
}

.navbar.visible {
  transform: translateY(40px); /* Mueve hacia abajo para que sea visible */
}

/************************************************************************/
/************************************************************************/
/************************************************************************/


/************************************************************************/
/**************************** Start Section *****************************/
/************************************************************************/

/**************************** Start Navbar ******************************/
.navbar.start {
  position: absolute;
  height: 80px;
  top: 0px;
  background-color: transparent; /* Cambia el color al hacer scroll */
}

.navbar.start a {
  color: white;
  font-size: clamp(6px, 2.25vw, 23px);
  margin: 0.7vw 0.7vw;
}

.navbar.start a:hover {
  color: #999999;
}

.navbar.start li {
  display: flex; /* Convierte el contenedor en flexbox */
  align-items: center; /* Alinea verticalmente los elementos */
  margin: 0 1.5vw 0;
  padding: 0;
  list-style: none;
}

/************************************************************************/

#start {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;  
  align-items: center;
}

#name {
  position: absolute;
  display: flex;
  color:#F7DED0;
  margin-bottom: 30vh;
  font-size: calc(12vmin + 1vw);
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  font-family: "Livvic-Thin";
  text-align: center;
  width: 100%;
  height: 100%;
}

#socme {
  position: absolute;
  display: grid;
  bottom: 5%;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px; /* Espacio opcional entre las columnas */
  row-gap: 0;
  width: clamp(90px, 7vw, 7vw);
  height: 10vh;
}

/* Pantallas medianas (entre 768px y 1200px) */
@media (min-width: 768px) and (max-width: 1199px) {
  #socme {
    height: 12vh; /* Altura intermedia */
  }
}

/* Pantallas grandes (1200px o más) */
@media (min-width: 1200px) {
  #socme {
    height: 15vh; /* Altura para pantallas grandes */
  }
}

#linkedin {
  grid-column: 1 / 2; /* Ocupa la segunda columna */
  display: block;
  justify-self: center;
  align-self: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

#email {
  grid-column: 2 / 3; /* Ocupa la quinta columna */
  display: block;
  justify-self: center;
  align-self: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

#socme img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0;
  
}

#gmail {
  position: absolute;
  bottom: 0;
  display: flex;
  color: white;
  font-size: calc(1.25vmin + 1vw);
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  font-family: "Livvic-Thin";
  text-align: center;
  width: 100%;
  height: 5%;
}

/************************************************************************/
/************************************************************************/
/************************************************************************/


/************************************************************************/
/****************************** About me ********************************/
/************************************************************************/

#picme_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#picme {
  width: clamp(10px 5vw 20px);
  height: clamp(10px 5vw 20px); /* Establece la altura para que sea igual al ancho */
  border-radius: 50%; /* Esto recorta la imagen en un círculo */
  object-fit: cover; /* Asegura que la imagen cubra completamente el círculo */
}

/************************************************************************/
/************************************************************************/
/************************************************************************/


/************************************************************************/
/******************************* Studies ********************************/
/************************************************************************/

#logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 50px 10% 60px;
  width: 80%;
}

.icon {
  width: clamp(60px, 8vw, 90px);
  height: clamp(60px, 8vw, 90px);
}

/* Pantallas grandes (1200px o más) */
@media (min-width: 1200px) {
  #logos {
    margin: 30px 13% 60px;
    width: 74%; /* Altura para pantallas grandes */
  }
}


/************************************************************************/
/************************************************************************/
/************************************************************************/


/************************************************************************/
/***************************** CV_Section *******************************/
/************************************************************************/

#cv_section {
  padding: 30px 0;
  height: 3vh;
  display: flex;
  justify-content: center;  
  align-items: center;
  background-color: transparent;
}

#cv_section a {
  border: 1px solid white;
  padding: 7px;
  text-decoration: none;
  color: white;
}

#cv_section a p {
  margin: 0;
}

#cv_section a:hover {
  background-color: rgba(198, 190, 190, 0.591);
}

/************************************************************************/
/************************************************************************/
/************************************************************************/